{% load cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="en" {% load static %}>

<head>
  <title>SIGIM </title>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="{% static 'img/SIGIM.png'%}">
    {% load static%}

    <!-- Bootstrap -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'css/gestionlogin.css'%}" rel="stylesheet">

    {% render_block "css" %}
    {% cms_toolbar %}

</head>


<body>
  

  {% render_block "js" %}
  

  <div class="contenedor">
    <div id="central">
      <div class="cat" >
        <img class="img2" src="{% static 'img/SIGIM.png'%}" alt="imagen 2">
      </div>


      <section id="form"><!--form-->

        <div id="login">




              <div class="login-form"><!--login form-->

                <form method="post" action="{% page_url 'home' %}">
                  {% csrf_token %}

                  <div class="form-group row" id="user-group">
                    <img class="imgfooter2" src="{% static 'img/logos/usuario.png'%}" alt="">
                    <div class="col-sm-10">
                      <input type="email" placeholder="email" id="email" name="email" required>
                    </div>
                  </div>

                  <div class="form-group row" id="user-group">
                    <img class="imgfooter2" src="{% static 'img/logos/llave.png' %}" alt="">
                    <div class="col-sm-10">
                      <input type="password" placeholder="password" id="password" name="password" required>
                    </div>
                  </div>
                  

                      <button type="submit" name='loginsubmit' value="Iniciar Sesión" class="btn btn-default" href="{% url 'login_view2' %}">
                        <img class="imgfooter2" src="{% static 'img/logos/cursor.png'%}" alt="">Iniciar sesión
                      </button>


                    {% for message in messages %}
                <section>
                    <div class=" container alert alert-{{message.tags}} alert-dismissible" role="alert">
                    <strong>Message!</strong> {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </div>
                </section>
                    {% endfor %}

                

              </div><!--/login form-->

            </form>
        </div> 
      
      </section><!--/form-->
      

    </div>  
  </div>

  
              {% block content %}
                {% placeholder "content" %}



              {% endblock content %}
              

</body>
</html>

