.u-section-1 .u-sheet-1 {
  min-height: 138px;
}

.u-section-1 .u-image-1 {
  width: 1593px;
  left: -118px;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 1266px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 992px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 783px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 641px;
    left: -83px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 655px;
}

.u-section-2 .u-text-1 {
  font-size: 0.875rem;
  margin: 0 auto 0 454px;
}

.u-section-2 .u-image-1 {
  width: 1193px;
  height: 78px;
  margin: -8px -123px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -58px 0 0 280px;
}

.u-section-2 .u-group-1 {
  width: 936px;
  min-height: 406px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 36px 703px 0 58px;
}

.u-section-2 .u-text-4 {
  margin: -42px auto 0 361px;
}

.u-section-2 .u-text-5 {
  margin: -40px 138px 0 auto;
}

.u-section-2 .u-text-6 {
  margin: 45px 693px 0 67px;
}

.u-section-2 .u-text-7 {
  margin: -42px auto 0 361px;
}

.u-section-2 .u-text-8 {
  margin: -42px 133px 0 auto;
}

.u-section-2 .u-text-9 {
  margin: 51px 689px 0 71px;
}

.u-section-2 .u-text-10 {
  margin: -42px auto 0 361px;
}

.u-section-2 .u-text-11 {
  margin: -42px 170px 0 auto;
}

.u-section-2 .u-text-12 {
  margin: 44px auto 0 93px;
}

.u-section-2 .u-text-13 {
  margin: -42px auto 0 384px;
}

.u-section-2 .u-group-2 {
  width: 322px;
  min-height: 332px;
  height: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: -332px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 9px 30px;
}

.u-section-2 .u-text-14 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 1.125rem;
}

.u-section-2 .u-line-1 {
  width: 127px;
  transform-origin: left center 0px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 1.125rem;
  margin: 26px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 1.125rem;
}

.u-section-2 .u-line-2 {
  width: 127px;
  transform-origin: left center 0px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-size: 1.125rem;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-size: 1.125rem;
  margin: 11px auto 0 0;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-size: 1.125rem;
  margin: 10px auto 0 0;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-size: 1.125rem;
  margin: 9px auto 0 0;
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 324px;
  height: 130px;
  margin: -484px auto 0 0;
}

.u-section-2 .u-blog-1 {
  margin-top: 393px;
  margin-bottom: 7px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 30px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 333px;
  }

  .u-section-2 .u-image-1 {
    width: 698px;
    height: 61px;
    margin-top: 9px;
    margin-right: -22px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -49px;
    margin-right: 48px;
    margin-left: 282px;
  }

  .u-section-2 .u-group-1 {
    width: 668px;
    margin-top: 21px;
    height: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 30px;
    margin-right: 362px;
    margin-left: -99px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -47px;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -37px;
    margin-right: 48px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 40px;
    margin-right: 327px;
    margin-left: -134px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: -50px;
    margin-right: 48px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 48px;
    margin-right: 362px;
    margin-left: -98px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-left: auto;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-right: 86px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 40px;
    margin-left: 52px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-left: auto;
  }

  .u-section-2 .u-group-2 {
    width: 247px;
    margin-top: -333px;
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-text-14 {
    margin-top: 1px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -521px;
  }

  .u-section-2 .u-blog-1 {
    margin-top: 428px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1072px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 255px;
  }

  .u-section-2 .u-image-1 {
    margin-right: -15px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 110px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 25px;
    margin-right: 467px;
    margin-left: -21px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -42px;
    margin-left: 278px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 516px;
    margin-left: 28px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 278px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 51px;
    margin-right: 457px;
    margin-left: -11px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 278px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 44px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 295px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 158px;
    margin-left: 44px;
  }

  .u-section-2 .u-image-2 {
    width: 175px;
    height: 78px;
    margin-top: -1033px;
  }

  .u-section-2 .u-blog-1 {
    margin-top: 494px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1058px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 191px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 47px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -35px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 26px;
    margin-right: 394px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    margin-right: 23px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 26px;
    margin-right: 364px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    margin-right: 18px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 30px;
    margin-right: 364px;
  }

  .u-section-2 .u-text-10 {
    margin-left: auto;
  }

  .u-section-2 .u-text-11 {
    margin-right: 56px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 30px;
    margin-left: 36px;
  }

  .u-section-2 .u-text-13 {
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1150px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 120px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -28px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: 31px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 23px;
    margin-right: 199px;
    margin-left: 24px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 18px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 40px;
    margin-right: auto;
    margin-left: 18px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -42px;
    margin-right: 0;
    margin-left: 158px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 57px;
    margin-left: 6px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 32px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 40px;
    margin-right: 170px;
    margin-left: -5px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 23px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 40px;
    margin-right: auto;
    margin-left: 57px;
  }

  .u-section-2 .u-text-12 {
    margin-top: -42px;
    margin-right: 42px;
    margin-left: auto;
  }

  .u-section-2 .u-text-13 {
    margin-top: 40px;
    margin-left: 27px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -1116px;
    margin-left: -50px;
  }

  .u-section-2 .u-blog-1 {
    width: 553px;
    margin-top: 530px;
    margin-right: auto;
    margin-left: -92px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 87px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 458px;
}

.u-section-3 .u-shape-1 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: -148px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15.75px));
  min-height: 251px;
  grid-gap: 21px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 22px 30px 18px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.375rem;
  margin: 20px 8px 0;
}

.u-section-3 .u-text-2 {
  margin: 19px 0 0 8px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 22px 30px 18px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.375rem;
  font-weight: 400;
  margin: 20px 8px 0;
}

.u-section-3 .u-text-4 {
  margin: 19px 0 0 8px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 22px 30px 18px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.375rem;
  font-weight: 400;
  margin: 20px 8px 0;
}

.u-section-3 .u-text-6 {
  margin: 19px 0 0 8px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 22px 30px 18px;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.375rem;
  font-weight: 400;
  margin: 20px 8px 0;
}

.u-section-3 .u-text-8 {
  margin: 19px 0 0 8px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 21px auto 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 102px;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 59px;
  min-height: 16px;
  width: 216px;
  min-width: 88px;
  margin: 5px auto 0;
}

.u-section-3 .u-icon-5 {
  height: 100%;
}

.u-section-3 .u-icon-6 {
  height: 100%;
}

.u-section-3 .u-icon-7 {
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 439px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-top: -143px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px);
    min-height: 264px;
    grid-gap: 21px 21px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    border-style: none none solid;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 8px;
    margin-bottom: 7px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 84px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 89px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    min-height: 499px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 22px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 18px;
    padding-right: 22px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 18px;
    padding-right: 22px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 18px;
    padding-right: 22px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2) + -16px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 177px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 524px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 517px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 994px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
}